html, body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

body {
  padding-top: 50px;
  user-select: none; 
}

hr {
  border:2px;
}  

pre {
  border: 0px;
  background-color: #fff;
}

code {
  border: 0px;
}

section {
  height:600px;
  overflow:scroll;
  border: 0px solid grey;
  padding: 0px 0px 100px 0px;
  margin: 0px 0px 0px 0px;
  width:100%;
}

.greeting {
  padding: 40px 15px;
  text-align: center;
}

.container {
  width:100%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 0px 0px 0px;
}

nav {
  margin-right: 0px;
  margin-bottom: 0px;
}
  
.nav {
 padding:0px; 
}  
  
.navbar {min-height:55px !important}

.navbar .nav,
.navbar .nav > li
{
  float:none;
  display:inline-block;
  vertical-align: top;
}

.navbar-inverse {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align:center;
  background: lightgray;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}  


a {
  color:black
}  

.list-group-item.active,
.list-group-item.active:hover, 
.list-group-item.active:focus  {
  background: lightgray;;
}

.list-group-item.active a,
.list-group-item.active:hover a, 
.list-group-item.active:focus a  {
  color:black
}

@media (min-width: 400px) {
  .affix {
    position: static;
  }
}  

::-webkit-scrollbar { 
  display: none; 
}  


[class^="col-"] {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.workflower-play {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .4;
}

.workflower-play:hover,
.workflower-play:focus {
  color: black;
  cursor: pointer;
  opacity: .7;
}

.btn {
  background-color: lightgray;
  border: none;
}

.dropdown-toggle {
  margin-top: 15px;
  margin-right: 5px;
  color: #000;  
  opacity: .7;
}

pre[class*="language-"] {
  font-size: .7em;
}
